h5 {
    margin-left: 4em;
}

.category-meals {
    margin: 0 auto;
    display: flex;

}

.title-category {
    width: 90%;
    margin: 0 auto;
    font-family: 'Single Sleeve', sans-serif !important;
    text-align: center;
    font-size: 3.5rem !important;
    justify-content: space-between !important;

}

.container h2 {
    font-family: 'Single Sleeve', sans-serif !important;
    margin-left:9em !important;
    font-size: 3.5rem !important;
    justify-content: space-between !important;

}

.meals-category-display {
    /*  display: -ms-flex;*/
    /*display: -webkit-flex;*/
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.meals-category-display #meals-category {
    padding: 1%;
    overflow-y: auto;
    width: 90%;
}

.meal-sort-by-price {
    height: 5px;

}


.category-meals h2 {
    margin-left: 14em;
    font-family: 'Single Sleeve', sans-serif;
    font-size: 4rem;
    justify-content: space-between;
}

.meals-category {
    width: 75%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3em;
}

.meal {
    border: #cce2e9 1px solid;
    width: 100%;
    margin-bottom: 4em;
    background-color: #282c34;
    opacity: 80%;
    border-radius: 15%;
}

.meal {
    border: #b8913dd3 1px solid;
    width: 100%;
    margin-bottom: 4em;
    background-color: rgba(29, 26, 26, 0.600);
    opacity: 80%;
    border-radius: 15%;

}

.photo {
    border: 2px solid rgb(210, 105, 30);
    box-shadow: #cce2e9;
    width: 80%;
    border-radius: 50%;
    justify-content: flex-start;
    box-shadow: 0 1px 12px 0 rgba(230, 232, 238, 0.616);


}

.photo {
    margin-top: 1em;
    margin-bottom: -1em;
    margin-left: 2em;
}

.text-name-favorite-meal {
    color: rgb(210, 105, 30);
    padding: 2em;
    float: right;
    margin-right: 22em;
    margin-top: 3em;
    font-size: .3rem;

}

.text-name-detail-meal {

    color: rgb(210, 105, 30);
    padding: 2em;
    float: right;
    margin-right: 3em;
    margin-top: 3em;
    font-size: .3rem;
    font-family: 'Single Sleeve', sans-serif;
}

.text-meal {
    color: rgb(210, 105, 30);
    float: right;
    margin-right: 1.5em;
    margin-top: 1em;
    font-family: 'Single Sleeve', sans-serif;
}

.price-add-meal {

    margin-left: 1em;
    padding: 1em;
    color: white;
}

.price {
    color: white;
    padding: 1em;
}

.showBtn {
    margin: 1em;
    background-color: chocolate;
    color: white

}

.btn-meal, .btn-addCart{
    margin: 1em;
    display: block;
    border-radius: 50%;
    color: aqua;
    background: #2f5289;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding: 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .7s;
    letter-spacing: 1px;
}

.btn-meal-remove {
    display: block;
    border-radius: 50%;
    color: aqua;
    background: #2f5289;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding: .5em 1em;
    margin-left: 12em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    transition: .7s;
    letter-spacing: 1px;
}

.btn-detail-meal {
    display: block;
    border-radius: 50%;
    color: aqua;
    background: #2f5289;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding: .5em 1em;
    margin-left: 12em;
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    transition: .7s;
    letter-spacing: 1px;
}

.detail-mail-container {
    border: #b8913dd3 1px solid;
    width: 30%;
    display: flex;
    margin: 0 auto;
    align-content: center;
    margin-bottom: 4em;
    background-color: rgba(29, 26, 26, 0.600);
    opacity: 80%;
    border-radius: 2%;
}

.description-meal {
    color: #cce2e9;
    padding: 1.5em;
    font-size: 1.8rem;
}

.filter-by-price{
    border: 1px chocolate solid !important;
    width: 100% !important;
    padding: 2em !important;
    margin-top: 1em !important;
    color: #f7f7f7;
    border-radius: 15%;
     box-shadow: 0 1px 2px 0 rgba(230, 232, 238, 0.616);
    background-color: rgba(29, 26, 26, 0.600);
    text-decoration-line: underline !important;
}
.filter-by-price h3{
    font-size: 2rem;
}
