.register-form{
  margin-top: 140px;
  margin-left: 300px;
opacity: 70%;
border: #c59d5f 1px solid;
width: 500px;
height: 400; 
}
.card-body{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 1 11px 1px rgba(231, 193, 22, 0.5);
    
}
.w-100 {
    color:aliceblue;
}