body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: 'Single Sleeve';
  src: local('Single Sleeve'), url(./fonts/sing.ttf) format('truetype');
}

.showBtn {
  background: var(--clr-primary-7);
  display: inline-block;
  padding: 0.025rem 0.05rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  /*margin-top: 2rem;*/
  /*font-size: 1.2rem;*/
}
h5, h2{
 
 padding: 12px;
  color: rgb(39, 211, 211);
  font-family: 'Single Sleeve', sans-serif;
}


