
.recipe{
    width: 40% ;
    margin-top: 6em !important ;
    margin: 0 auto;
    font-size: 2rem ;
    background-color: chocolate !important;
    
}

textarea{
   width: 50%;
   height: 100%;
}


.header-recipe{
    margin:0 auto !important;
    padding: 1em;
    text-align: center !important;
}
